<h1>Name: <%= @human.name  %></h1>

<p>What would you like to do?</p>

<button type="button" class="btn btn-primary"><a><%= link_to 'Edit Person', edit_human_path(@human)  %></button>
<button type="button" class="btn btn-primary"><a><%= link_to 'Delete Person', @human, method: :destroy  %></button>
<button type="button" class="btn btn-primary"><a><%= link_to 'Go Back', humans_path %></button
