// Place all the styles related to the Humans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


tr, td {
  margin-left: 20px;
}

body {
  background-color: azure;
}

h1 {
  margin: 50px;
}

p, table, button {
  margin-left: 50px;
}

a {
  color: white;
}

btn-margin {
  margin-bottom: 25px;
}